<div class="moldura-pergunta">
        <div class="titulo-pergunta">
            Assunto da pergunta aparece aqui
        </div>
        <div class="autor-pergunta">
            Carlos Henrique Santos
        </div>
        <div class="comentario-pergunta">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
            de processo formativo situado impacto de processo formativo processo...
        </div>
        <div class="teste">
            <div class="botao-informacao">
                <div class="ponto"></div>
                <div class="ponto"></div>
                <div class="ponto"></div>
            </div>
            <div class="favorito">
                <div class="material-symbols-outlined">
                    favorite
                </div>
            </div>
            <div class="like">
                1 like
            </div>
            <div class="respostas">
                1 Resposta
            </div>
        </div>
    </div>
