.container{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.base {
  width: 1366px;
  height: 1701px;
  top: -978px;
  left: -684px;
  background-color: rgb(58, 204, 70);
};

.side-menu{
  width: 220px;
  height: 1701px;
  background-color: rgb(11, 25, 231);
};
.header{
  width: 1146px;
  height: 68px;
  left: 220px;
  background-color: aqua;
};

.content{
  width: 1059px;
  height: 1382px;
  top: 88px;
  left: 263;
  background-color: rgb(184, 18, 170);
};

.footer{
  width: 1146px;
  height: 181px;
  top: 1520px;
  left: 220px;
  background-color: rgb(119, 114, 114);
};