<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="base">
    <div class="side-menu">
      <div class="side-bar">
          <div class="nome-evento">
            SLACA 2019
          </div>
          <div class="logo">
            <img src="assets/dewey 4.png" alt="Logo 13 slaca">
          </div>
          <div class="menu apresentacao">
            apresentacao
            <div class="linha"></div>
          </div>
          <div class="menu comite">
            comite
            <div class="linha"></div>
          </div>
          <div class="menu autores">
            autores
            <div class="linha"></div>
          </div>
          <div class="menu tematico">
            tematico
            <div class="linha"></div>
          </div>
          <div class="menu trabalhos">
            trabalhos
            <div class="linha"></div>
          </div>
          <div class="menu contato">
            contato
            <div class="linha"></div>
          </div>
      </div>
    </div>
    <div class="header">
      <div class="info-header">
        Anais do Simpósio Latino Americano de Ciências de Alimentos 
      </div>
      <div class="texto-header">
        Anais do 13º Simpósio Latino Americano de Ciência de Alimentos 
      </div>
      <div class="issn">
        ISSN:1234-5678
      </div>
      <div class="idioma">
        <img class="globo" src="assets/language image.png" alt="imagem globo">
        PT,BR
        <img src="assets/dropdown.png" alt="imagem ceta">
      </div>
      <div class="login">
        <div class="bem-vindo">Bem Vindo!
        </div>
        <div class="email">
          alguem12@galoascience.com
        </div>
        <div class="foto-perfil">
          <img src="assets/foto-perfil.png" alt="foto login">
            <!-- <div class="notificacao">
              2
            </div> -->
        </div>        
      </div>
    </div>
    <div class="content">
          <div class="titulo-trabalho">
            Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP 
          </div>
            <div class="botao-download">
              <img src="assets/download button.png" alt="">
            </div>
            <div class="botao-favorito">
              <img src="assets/favorite button.png" alt="">
            </div>
            <div class="botao-doi">
              <img src="assets/doi button.png" alt="">
            </div>
            <div class="citacao">
              COMO CITAR ESSE TRABALHO?
            </div>
      <div class="video">
        <img src="assets/vídeo apresentação.png" alt="">
      </div>
      <div class="moltura-detalhes"> 
        <div class="detalhes">
          <div class="titulo-detalhes">
            Detalhes
          </div>
            <div class="texto-detalhes">
              <span class="estilo-1">Tipo de Apresentação: </span>
              <span class="estilo-3">Pôster </span>
              <span class="estilo-1">Eixo temático: </span>
              <span class="estilo-3">Alimentação e saúde (AS) </span>
              <br>
              <span class="estilo-1">Palavras-chaves: </span>
              <span class="estilo-3">Alimentos funcionais, alimentação escolar.</span>
              <br><br>
              <span class="estilo-3">
              Autores:
              </span>
              <span class="estilo-6">
              <p>
              Galileo Galilei¹<br>
              Berta Lange de Morretes²<br>
              Isaac Newton³<br>
              Cesar Lattes¹<br>
              Stephen Hawking⁴<br>
              <br>
              </p>
              </span>  

              <span class="estilo-5"><p>
              ¹Universidade Estadual de Campinas
              ²Universidade de São Paulo
              ³Instituto Nacional de Pesquisas Espaciais
              ⁴Universidade Federal do Rio de Janeiro
              </p>  
              </span>
            </div>
           
          </div>
        </div>

      <div class="moldura-resumo">
          <div class="resumo">
            <div class="titulo-resumo">
              Resumo
            </div>
          </div>  
          <div class="texto-resumo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant... ver mais
          </div>
      </div>

      <div class="moldura-discussoes">
        <div class="discussoes">
          <div class="titulo-discussoes">
            Discussoes
          </div>
        </div>
        <div class="assunto-pergunta">

        </div>

      </div>

    </div>
    <div class="footer">
        <img src="assets/imagem - footer.png" alt="iamgem footer">
    </div>
  </div>
</div>