<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="base">
    <div class="side-menu">
      <div class="side-bar">
          <div class="nome-evento">
            SLACA 2019
          </div>
          <div class="logo">
            <img src="assets/dewey 4.png" alt="Logo 13 slaca">
          </div>
          <div class="menu apresentacao">
            apresentacao
            <div class="linha"></div>
          </div>
          <div class="menu comite">
            comite
            <div class="linha"></div>
          </div>
          <div class="menu autores">
            autores
            <div class="linha"></div>
          </div>
          <div class="menu tematico">
            tematico
            <div class="linha"></div>
          </div>
          <div class="menu trabalhos">
            trabalhos
            <div class="linha"></div>
          </div>
          <div class="menu contato">
            contato
            <div class="linha"></div>
          </div>
      </div>
    </div>
    <div class="header">
      <div class="info-header">
        Anais do Simpósio Latino Americano de Ciências de Alimentos 
      </div>
      <div class="texto-header">
        Anais do 13º Simpósio Latino Americano de Ciência de Alimentos 
      </div>
      <div class="issn">
        ISSN:1234-5678
      </div>
      <div class="idioma">
        <img class="globo" src="assets/language image.png" alt="imagem globo">
        PT,BR
        <img src="assets/dropdown.png" alt="imagem ceta">
      </div>
      <div class="login">
        <div class="bem-vindo">
          Bem Vindo!
        </div>
        <div class="email">
          alguem12@galoascience.com
        </div>
        <div class="foto-perfil">
          <img src="assets/foto-perfil.png" alt="foto login">
            <div class="notificacao">
              2
            </div>
        </div>        
      </div>
    </div>
    <div class="content">
      asda
    </div>
    <div class="footer">
        sdasd
    </div>
  </div>
</div>