<div class="content">
    <div class="titulo-trabalho">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
            Campinas/SP </h2>
    </div>
    <div class="botao-download">
        <img src="assets/download button.png" alt="">
    </div>
    <div class="botao-favorito">
        <img src="assets/favorite button.png" alt="">
    </div>
    <div class="botao-doi">
        <img src="assets/doi button.png" alt="">
    </div>
    <div class="citacao">
        COMO CITAR ESSE TRABALHO?
    </div>
    <div class="video">
        <img src="assets/vídeo apresentação.png" alt="imagem tirada do video">
    </div>
    <div class="moltura-detalhes">
        <div class="detalhes">
            <div class="titulo-detalhes">
                Detalhes
            </div>
            <div class="texto-detalhes">
                <span class="estilo-1">Tipo de Apresentação: </span>
                <span class="estilo-3">Pôster </span>
                <span class="estilo-1">Eixo temático: </span>
                <span class="estilo-3">Alimentação e saúde (AS) </span>
                <br>
                <span class="estilo-1">Palavras-chaves: </span>
                <span class="estilo-3">Alimentos funcionais, alimentação escolar.</span>
                <br><br>
                <span class="estilo-3">
                    Autores:
                </span>
                <span class="estilo-6">
                    <p>
                        Galileo Galilei¹<br>
                        Berta Lange de Morretes²<br>
                        Isaac Newton³<br>
                        Cesar Lattes¹<br>
                        Stephen Hawking⁴<br>
                        <br>
                    </p>
                </span>

                <span class="estilo-5">
                    <p>
                        ¹Universidade Estadual de Campinas
                        ²Universidade de São Paulo
                        ³Instituto Nacional de Pesquisas Espaciais
                        ⁴Universidade Federal do Rio de Janeiro
                    </p>
                </span>
            </div>
        </div>
    </div>


    <div class="moldura-resumo">
        <app-resumo> </app-resumo>
    </div>

    <div class="moldura-discussoes">
        <app-discussao> </app-discussao>
    </div>
</div>