<div class="side-menu">
    <div class="side-bar">
        <div class="nome-evento">
          SLACA 2019
        </div>
        <div class="logo">
          <img src="assets/dewey 4.png" alt="Logo 13 slaca">
        </div>
        <div class="menu apresentacao">
          apresentacao
          <div class="linha"></div>
        </div>
        <div class="menu comite">
          comite
          <div class="linha"></div>
        </div>
        <div class="menu autores">
          autores
          <div class="linha"></div>
        </div>
        <div class="menu tematico">
          tematico
          <div class="linha"></div>
        </div>
        <div class="menu trabalhos">
          trabalhos
          <div class="linha"></div>
        </div>
        <div class="menu contato">
          contato
          <div class="linha"></div>
        </div>
    </div>
  </div>