<div class="side-menu">
  <div class="side-bar">
      <div class="nome-evento">
        SLACA 2019
      </div>
      <div class="logo">
        <img src="assets/dewey 4.png" alt="Logo 13 slaca">
      </div>
      <div class="menu">
        <ul>
            <li><a href="#">Apresentação</a></li>
            <li><a href="#">Comitês</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Eixos Temáticos</a></li>
            <li class="selected"><a href="#">Trabalhos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
    </div>      
  </div>
</div>