    <div class="discussoes">
        <div class="titulo-discussoes">
            Discussoes
        </div>
    </div>
    <div class="titulo-compartilhe">
        Compartilhe suas ideias ou dúvidas com os autores!
    </div>
    <div class="icone1">
        <img src="assets/icone1.png" alt="">
    </div>
    <div class="icone2">
        <img src="assets/icone2.png" alt="">
    </div>
    <div class="icone3">
        <img src="assets/icone3.png" alt="">
    </div>
    <div class="frase-pergunta">
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
        questionamentos ou sugestões para o autor!
    </div>
    
    <div class="linha-topico">
    </div>
    <div class="botao-topico">
        <span class="criar-topico">criar tópico</span>
    </div>
    <div class="cruz cruz-vertical">
    </div>
    <div class="cruz cruz-horizontal">
    </div>
    

    <div class="moldura-pergunta">
        <div class="titulo-pergunta">
            Assunto da pergunta aparece aqui
        </div>
        <div class="autor-pergunta">
            Carlos Henrique Santos
        </div>
        <div class="comentario-pergunta">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
            de processo formativo situado impacto de processo formativo processo...
        </div>
        <div class="teste">
            <div class="botão-informacao">
                <div class="ponto"></div>
                <div class="ponto"></div>
                <div class="ponto"></div>
            </div>
            <div class="favorito">
                <div class="material-symbols-outlined">
                    favorite
                </div>
            </div>
            <div class="like">
                1 like
            </div>
            <div class="respostas">
                1 Resposta
            </div>
        </div>
    </div>

    <div class="moldura-pergunta2">
        <div class="titulo-pergunta">
            Assunto da pergunta aparece aqui
        </div>
        <div class="autor-pergunta">
            Carlos Henrique Santos
        </div>
        <div class="comentario-pergunta">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
            de processo formativo situado impacto de processo formativo processo...
        </div>
        <div class="teste">
            <div class="botão-informacao">
                <div class="ponto"></div>
                <div class="ponto"></div>
                <div class="ponto"></div>
            </div>
            <div class="favorito">
                <div class="material-symbols-outlined">
                    favorite
                </div>
            </div>
            <div class="like">
                1 like
            </div>
            <div class="respostas">
                1 Resposta
            </div>
        </div>
    </div>
